<div class="FormBlock">
    <h1>Reset access</h1>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <label>
            Login
            <input type="email" id="email" placeholder="Enter email" formControlName="email">
            <div *ngIf="dataForm.get('email')?.errors && dataForm.get('email')?.touched">
                <p *ngIf="dataForm.get('email')?.touched" style="color: red">Поле обязательно к заполнению</p>
                <p *ngIf="dataForm.get('email')?.errors?.['pattern']" style="color: red">Почта должна содержать собаку, точку и состоять из латинских букв</p>
            </div>

            <input type="submit" id="submitBtn" value="Sign up">
        </label>
    </form>
    <div class="navigation">
        <a routerLink="/">Sign in</a>
    </div>
</div>