<div class="FormBlock">
    <h1>Nice to see you again</h1>
    <form>
        <label>
            Login
            <input type="email" id="email" placeholder="Email">
            Password
            <input type="password" id="password" placeholder="Password">
            <div class="passwordLink">
                <a routerLink="/reset">Forgot password?</a>
            </div>
            <input type="submit" id="submitBtn" value="Sign in">
        </label>
    </form>
    <div class="navigation">
        Dont have an account? <a routerLink="/registration">Sign up now</a>
    </div>
</div>