<div class="FormBlock">
    <h1>Now create your account</h1>
    <form>
        <label>
            Login
            <input type="email" id="email" placeholder="Enter email">
            Password
            <input type="password" id="password" placeholder="Enter password">
            Type password again
            <input type="password" id="password" placeholder="Enter password">

            <input type="submit" id="submitBtn" value="Sign up">
        </label>
    </form>
    <div class="navigation">
        <a routerLink="/">Sign in</a>
    </div>
</div>